body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:0;
    margin: 0;
}
.btn-modern{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    cursor:pointer;
}
.btn-modern:hover{
    background-color: aqua;
    box-shadow: 60px -5px grey;
    color:red;
    animation: muevete 0.4s infinite alternate-reverse;
}
@keyframes muevete{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateY(-5px);
    }
}